# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference

name: Metrics
on:
  # Schedule updates
  schedule: [{cron: "0 * * * *"}]
  push : {branches: [ "master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # You'll need to setup a personal token in your secrets.
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: changerlemond
          template: classic
          base: header, activity, community, repositories, metadata
          commits_authoring: 83348294+changerlemond@users.noreply.github.com
          config_timezone: Asia/Seoul
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_topics: yes
          plugin_topics_sort: stars
          plugin_topics_mode: icons
          plugin_topics_limit: 0
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: recently-used
          plugin_languages_details: percentage
